# OS
.DS_Store
Thumbs.db

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
artifacts/
TestResults/
xunit-results.xml
nunit-*.xml

# NuGet
*.nupkg
*.snupkg
# For projects using packages.config
packages/
!packages/build/
*.nuget.props
*.nuget.targets

# MSBuild/VS caches and intermediates
*.dbmdl
*.tmp
*.tmp_proj
*.ipch
*.pdb
*.mdb

# JetBrains Rider/ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
.idea/

# NCrunch
*.ncrunch*
_NCrunch_*
.*crunch*.local.xml

# Code coverage
*.coverage
*.coveragexml
coverage/
.coverage/

# Azure Functions (local only)
local.settings.json

# Publish
publish/
*.pubxml.user
Properties/PublishProfiles/*.pubxml.user

# VS Code
.vscode/

# Tye/Containers
.tye/

# Benchmarking
BenchmarkDotNet.Artifacts/